.card-img-top{
    width: 230px;
    height: 160px;
    margin: 0 auto;
}
.container.titulo{
    position:absolute;
    top: 17em;
    left: 19em;
}
h1 ,h2{
    font-size: 50px;
}
.logo{
    position: absolute;
    left: 15em;
    top: 0;
    width: 163px;
    height: 70px;
    padding-bottom: 10px;
}
.imagenPng{
    width: 100%;
    background-color: #BDBDBD;
}
.imagenPng img{
    margin-left: 500px;
}
.col-6 img{
    width: auto;
    height: 300px;
}
.containerImg{
    width: 100%;
    background-color: #6F6968;
}
.containerImg img{
    width: auto;
    height: 300px;
}
.containerImg-1{
    width: 100%;
    background-color: #EAE7E6;
}
.containerImg-1 img{
    width: auto;
    height: 300px;
}
.containerFullWidth{
    width: 100%;
}




