.img {
    &-zwcad {
        background: {
            image: url("../img/inicio.png");
            repeat: no-repeat;
            size: cover;
            position: center;
        }
        padding: 50px 0;
        position: relative;
        z-index: 1;
        @include maskAfter();
    }
    &-caracteristicas{
        background: {
            image: url("../img/zwcad-caractetisticas.jpg");
            repeat: no-repeat;
            size: cover;
            position: center;
        }
        padding: 50px 0;
        position: relative;
        z-index: 1;
        @include maskAfter();
    }
    &-bg2{
        background: {
            image: url("../img/zwcad-bg.jpg");
            repeat: no-repeat;
            size: cover;
            position: center;
        }
        padding: 5rem 0;
        // Extra small devices (portrait phones, less than 576px)
        // No media query since this is the default in Bootstrap
    
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {  }
    
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {  }
    
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {  }
    
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { 
            padding: 7rem 0;
         }
    }
}

.submenu{
    background-color: rgb(0, 54, 116);
}

#carousel-example-2{
    // Extra small devices (portrait phones, less than 576px)
    // No media query since this is the default in Bootstrap

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {  }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {  }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {  }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}
}