<footer class="blue">
    <div class="container-fluid special-color-dark">
        <div class=" row ">
            <div class="col-12 fotter-shadow">
                <div class="row mx-auto py-3 text-white">
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-4 my-auto ">
                        <img src="./img/AU-Transparente-TM.png " class="img-fluid d-block mx-auto mt-3 " alt=" ">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 my-auto d-flex justify-content-center ">
                        <div class="d-block ">
                            <p class="h5 font-weight-bold my-3 text-center ">Teléfonos:</p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-center ">Argentina: +54-11-2150-5353</p>
                                    <p class="text-center ">Perú: +51-1-640-9337</p>
                                    <p class="text-center ">Chile: +56-2-2405-3246</p>
                                </div>
                                <div class="col-6 ">
                                    <p class="text-center ">Colombia: +57-1-432-2488</p>
                                    <p class="text-center ">México: +52-55-8526-3019</p>
                                    <p class="text-center ">Panamá: +507-8337435</p>
                                </div>
                                .col-12
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex justify-content-center ">
                        <div class="d-block ">
                            <p class="h5 font-weight-bold my-3 ">Email</p>
                            <p class=" ">ventas@aufieroinformatica.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row ">
            <div class="col-12 text-white">
                <p class="lead text-center my-4 font-small font-weight-bold">Aufiero Informática ® Copyright 2020</p>
            </div>
        </div>
    </div>
</footer>