<nav class="navbar navbar-expand-lg navbar-white white ">
    <div class="container ">
        <a class="navbar-brand" href="index.html">
            img(src="./img/logo.png",height="60",alt="ZCAD" class="logo")
        </a>
        <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon3"><span></span><span></span><span></span></div>
        </button>
            <div class="collapse navbar-collapse open-sans text-uppercase spacing-3 " id="basicExampleNav">
                <ul class="navbar-nav mr-auto">
                    if titlePage == "Inicio"
                        <li class="nav-item active m-2">
                            <a class="text-dark" href="./index.html">Inicio</a>      
                        </li>
                    else
                        <li class="nav-item m-2">
                            <a class="text-dark" href="./index.html">Inicio</a>        
                        </li>
                    if titlePage == "Productos"
                        <div class="dropdown active m-2">
                            <a class="dropdown-toggle text-dark" id="dropdownMenuMenu" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                +dropdownItems(dropdownMenu)
                            </div>
                        </div>
                    else
                        <div class="dropdown m-2">
                            <a class="dropdown-toggle text-dark" id="dropdownMenuMenu" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuMenu">
                                +dropdownItems(dropdownMenu)
                            </div>
                        </div>
                    if titlePage == "Contacto"
                        <li class="nav-item active m-2">
                            <a class="text-dark" href="./contacto.html">Contacto </a>  
                        </li>
                    else
                        <li class="nav-item m-2">
                            <a class="text-dark m-0" href="./contacto.html">Contacto</a>  
                        </li>
                </ul>
            </div>    
        
    </div>
</nav>

