extends ../templates/template.pug
block append config
   -titlePage = "Inicio"
   - 
      dataPage = {
                     products: [
                        {name: "ZWCAD", text: `Fiable,ligero y una plataforma de CAD compatible con DWG`, img: "producto-card-1.png", html: "zwcad.html"},
                        {name: "ZWCAD Mechanical", text: "Herramienta para dibujos mecánicos 2D", img: "producto-card-3.png", html: "mechanical.html"},
                     ]
                  }
    
block append content
   +headPage("home", "ZWCAD 2020", "Crear Cosas Increíbles")

block cards
   .container.py-3 
      - let { products } = dataPage;
         +cardProduct(products)