extends ../templates/template.pug
block append config
   -titlePage = "ZWCAD Viewer 2020"
   -paginaActual="viewer.jpg"

block append content

block cards
    .containerfullWidth.d-flex.align-items-stretch.justify-content-center.grey.lighten-3
        .row
            .col.text-center.p-5
                img(src="img/viewer-1.jpg", alt="").d-flex.mx-auto
                p.mb-3 Compatible
                p 
                |Abre archivos DWG, DXF, DWF y DWT
                br
                |desde la versión R12 a la 2013
            .col.text-center.p-5
                img(src="img/viewer-2.jpg", alt="").d-flex.mx-auto
                p.mb-3 Ligero
                p 
                |Más pequeño y rápido,
                br
                |manteniendo su interfaz habitual
            .col.text-center.p-5
                img(src="img/viewer-3.jpg", alt="").d-flex.mx-auto
                p.mb-3 GRATIS
                p.text 
                |Todas las nuevas versiones
                br
                |seguirán siendo gratuitas

    .containerfullWidth.d-flex.align-items-around.justify-content-center.blue.darken-3.text-white
        .row
            .col-sm.text-center.p-5
                img(src="img/viewer-4.jpg", alt="").d-flex.mx-auto
                p.mb-3 Compatible
                p 
                |Abre archivos DWG, DXF, DWF y DWT
                br
                |desde la versión R12 a la 2013
            .col-sm.text-center.p-5
                img(src="img/viewer-5.jpg", alt="").d-flex.mx-auto
                p.mb-3 Ligero
                p 
                |Más pequeño y rápido,
                br
                |manteniendo su interfaz habitual
            .col-sm.text-center.p-5
                img(src="img/viewer-6.jpg", alt="").d-flex.mx-auto
                p.mb-3 GRATIS
                p.text 
                |Todas las nuevas versiones
                br
                |seguirán siendo gratuitas
    .containerfullWidth.d-flex.align-items-around.justify-content-center.blue.darken-3.text-white
        .row
            .col-sm.text-center.p-5
                img(src="img/viewer-7.jpg", alt="").d-flex.mx-auto
                p.mb-3 Compatible
                p 
                |Abre archivos DWG, DXF, DWF y DWT
                br
                |desde la versión R12 a la 2013
            .col-sm.text-center.p-5
                img(src="img/viewer-8.jpg", alt="").d-flex.mx-auto
                p.mb-3 Ligero
                p 
                |Más pequeño y rápido,
                br
                |manteniendo su interfaz habitual
            .col-sm.text-center.p-5
                img(src="img/viewer-9.jpg", alt="").d-flex.mx-auto
                p.mb-3 GRATIS
                p.text 
                |Todas las nuevas versiones
                br
                |seguirán siendo gratuitas    

    .containerfullWidth.grey.lighten-3.d-flex.justify-content-center
    h3.text-center Innovación con la función Comparación de Archivos
    p.text-center Compare y detecte diferencias. Con la opción Comparación de Archivos podrá comparar dos dibujos similares y resaltar las diferencias de manera clara.
        .row
            .col.text-center
                img(src="img/viewer-10.png", alt="").d-flex.mx-auto
               
            .col.text-center
                img(src="img/viewer-11.png", alt="").d-flex.mx-auto
    



    .containerfullWidth.d-flex.align-items-around.justify-content-center.bg-dark.text-white   
        .row
            .col-sm.text-center.p-5
                img(src="img/viewer-12.png", alt="").d-flex.mx-auto
                p 
                |Visualice tanto objetos 2D como modelos 3D
                
            .col-sm.text-center.p-5
                img(src="img/viewer-13.png", alt="").d-flex.mx-auto
                p 
                |Ajuste de zoom y panorama, 3D Orbit le 
                br
                |facilita la visualización de archivos
            .col-sm.text-center.p-5
                img(src="img/viewer-14.png", alt="").d-flex.mx-auto
                p.text 
                |Visualice modelos 3D en modo oculto

    .containerfullWidth.d-flex.align-items-baseline.justify-content-center.bg-dark.text-white   
        .row
            .col-sm.text-center.p-5
                img(src="img/viewer-15.png", alt="").d-flex.mx-auto
                p 
                |Visualice entidades proxy
                
            .col-sm.text-center.p-5
                img(src="img/viewer-16.png", alt="").d-flex.mx-auto
                p 
                |Ajuste de zoom y panorama, 3D Orbit le 
                br
                |facilita la visualización de archivos
            .col-sm.text-center.p-5
                img(src="img/viewer-17.png", alt="").d-flex.mx-auto
                p.text 
                |Visualice modelos 3D en modo oculto
    